@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/proximanova-regular-webfont.eot);
  src: url(../fonts/proximanova-regular-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/proximanova-regular-webfont.woff2) format("woff2"),url(../fonts/proximanova-regular-webfont.woff) format("woff"),url(../fonts/proximanova-regular-webfont.ttf) format("truetype"),url(../fonts/proximanova-regular-webfont.svg#proxima_novaregular) format("svg");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/proximanova-lightit-webfont.eot);
  src: url(../fonts/proximanova-lightit-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/proximanova-lightit-webfont.woff2) format("woff2"),url(../fonts/proximanova-lightit-webfont.woff) format("woff"),url(../fonts/proximanova-lightit-webfont.ttf) format("truetype"),url(../fonts/proximanova-lightit-webfont.svg#proxima_novalight_italic) format("svg");
  font-weight: 400;
  font-style: italic
}

@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/proximanova-light-webfont.eot);
  src: url(../fonts/proximanova-light-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/proximanova-light-webfont.woff2) format("woff2"),url(../fonts/proximanova-light-webfont.woff) format("woff"),url(../fonts/proximanova-light-webfont.ttf) format("truetype"),url(../fonts/proximanova-light-webfont.svg#proxima_novalight) format("svg");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/proximanova-regularit-webfont.eot);
  src: url(../fonts/proximanova-regularit-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/proximanova-regularit-webfont.woff2) format("woff2"),url(../fonts/proximanova-regularit-webfont.woff) format("woff"),url(../fonts/proximanova-regularit-webfont.ttf) format("truetype"),url(../fonts/proximanova-regularit-webfont.svg#proxima_novaitalic) format("svg");
  font-weight: 400;
  font-style: italic
}

@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/proximanova-boldit-webfont.eot);
  src: url(../fonts/proximanova-boldit-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/proximanova-boldit-webfont.woff2) format("woff2"),url(../fonts/proximanova-boldit-webfont.woff) format("woff"),url(../fonts/proximanova-boldit-webfont.ttf) format("truetype"),url(../fonts/proximanova-boldit-webfont.svg#proxima_novabold_italic) format("svg");
  font-weight: 700;
  font-style: italic
}

@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/proximanova-bold-webfont.eot);
  src: url(../fonts/proximanova-bold-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/proximanova-bold-webfont.woff2) format("woff2"),url(../fonts/proximanova-bold-webfont.woff) format("woff"),url(../fonts/proximanova-bold-webfont.ttf) format("truetype"),url(../fonts/proximanova-bold-webfont.svg#proxima_novabold) format("svg");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/proximanova-extrabold-webfont.eot);
  src: url(../fonts/proximanova-extrabold-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/proximanova-extrabold-webfont.woff2) format("woff2"),url(../fonts/proximanova-extrabold-webfont.woff) format("woff"),url(../fonts/proximanova-extrabold-webfont.ttf) format("truetype"),url(../fonts/proximanova-extrabold-webfont.svg#proxima_novabold) format("svg");
  font-weight: 900;
  font-style: normal
}

@font-face {
  font-family: "Proxima Nova Condensed";
  src: url(../fonts/proximanovacond-black-webfont.eot);
  src: url(../fonts/proximanovacond-black-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/proximanovacond-black-webfont.woff2) format("woff2"),url(../fonts/proximanovacond-black-webfont.woff) format("woff"),url(../fonts/proximanovacond-black-webfont.ttf) format("truetype"),url(../fonts/proximanovacond-black-webfont.svg#proxima_nova_condensedblack) format("svg");
  font-weight: 900;
  font-style: normal
} 