@media screen{

  .alert-popup{
    width: 40%;
    background: #E92030 !important;
    border: solid 1px #E92030 !important;
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate3d(-50%, -60%, 0) !important;
    opacity: 0;
    transition: all 200ms ease;
    padding: .6rem;
    height: auto !important;
    bottom: auto !important;
  }

  .alert-popup.active{
    transform: translate3d(-50%, -50%, 0) !important;
    opacity: 1;
  }

  .alert-popup button{
    min-width: 100px;
  }

  .alert-popup h5{
    max-height: 50px;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    color: #fff;
  }

  .alert-popup pre{
    max-height: 200px;
    overflow: auto;
    color: #fff;
  }

  .alert-popup h5{
    word-wrap: break-word;
    white-space: normal;
  }

  .alert-popup button{
    background: rgba(0, 0, 0, .3) !important;
  }

}

@media screen and (min-width:320px) and (max-width:800px){

  .alert-popup{
    width: 80%;
  }

}