@media screen{

  .badge{
    border-radius: .6em;
    padding: .2em .6em;
  }
  .badge.small{
    padding: .2em .6em;
  }

  .badge.yellow, .badge-yellow{
    background: #F6BB42;
    color: #fff;
  }
  .badge.green, .badge-green{
    background: #8CC152;
    color: #fff;
  }
  .badge.red, .badge-red{
    background: #E9573F;
    color: #fff;
  }
  .badge.light, .badge-light{
    background: #EEE;
    color: #666;
  }

}