@media screen{

  .modal-cont{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    visibility: hidden;
    background: rgba(0, 0, 0, .7);
    z-index: 100;
  }
  .modal-cont.active{
    visibility: visible;
  }
  .modal{
    background: #fff;
    margin: 0 auto;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -40%, 0);
    transition: all 200ms ease;
    position: absolute;
    z-index: 21;
    display: none;
  }
  .modal.on{
    display: block;
  }
  .modal.active{
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
  }
  .modal.has-scroll{
    top: 0;
    transform: translate3d(-50%, 10%, 0);
    margin: 2em 0;
  }
  .modal.active.has-scroll{
    top: 0;
    transform: translate3d(-50%, 0, 0);
  }

  .modal-body{
    overflow-y: auto;
  }

  .modal-overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    display: none;
  }

  .modal-disabled .modal-overlay{
    display: block;
  }

}

@media screen and (min-width:320px) and (max-width:800px){

  .modal-sm{
    background: #fff;
    margin: 0 auto;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -40%, 0);
    overflow: hidden;
    transition: opacity,transform 200ms ease;
    position: absolute;
    z-index: 21;
    display: none;
  }
  .modal-sm.on{
    display: block;
  }
  .modal-sm.active{
    z-index: 22;
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
  }
  .modal, .modal-sm{
    width: 90% !important;
  }
  .modal-sm.has-scroll{
    top: 0;
    transform: translate3d(-50%, 10%, 0);
    margin: 2em 0;
  }
  .modal-sm.active.has-scroll{
    top: 0;
    transform: translate3d(-50%, 0, 0);
  }

}

@media screen and (min-width:800px){

  .modal-lg{
    background: #fff;
    margin: 0 auto;
    visibility: hidden;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -40%, 0);
    overflow: hidden;
    transition: opacity,transform 200ms ease;
    position: absolute;
    z-index: 21;
    display: none;
  }
  .modal-lg.on{
    display: block;
  }
  .modal-lg.active{
    visibility: visible;
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
  }
  .modal, .modal-lg{
    max-width: 95% !important;
  }
  .modal-lg.has-scroll{
    top: 0;
    transform: translate3d(-50%, 10%, 0);
    margin: 2em 0;
  }
  .modal-lg.active.has-scroll{
    top: 0;
    transform: translate3d(-50%, 0, 0);
  }

}