@media screen{

  .popup-cont{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 222;
  }
  .popup-cont.active{
    display: block;
  }
  .popup{
    background: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .1);
    position: fixed;
    z-index: 10;
    overflow-y: auto;
    border-radius: .5em;
    display: none;
  }
  .popup.on{
    display: block;
    opacity: 0;
  }
  .popup.active{
    opacity: 1;
  }

  .popup-body{
    overflow-y: auto;
  }

  /* Generic popup item used by: textbox autocomplete */
  .popup .item{
    padding: .6rem;
  }

}

@media screen and (min-width:320px) and (max-width:800px){

  .popup-cont{
    background: rgba(0, 0, 0, .8);
  }

  .popup{
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 200ms ease;
  }
  .popup.on{
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  .popup.active{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

}

@media screen and (min-width:800px){


}