@media screen{

  .slider{
    position: relative;
    height: 3em;
  }
  .slider-rail{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: .3em;
    background: #eee;
    transform: translate3d(0, -50%, 0);
    overflow: hidden;
  }
  .slider-rail>*{
    position: relative;
  }
  .slider-rail-highlight{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 0;
    height: .3em;
    background: red;
    transform: translate3d(0, -50%, 0);
  }
  .slider-butt-0{
    width: 1.8em;
    height: 1.8em;
    border-radius: 3em;
    position: absolute;
    left: 0;
    top: 50%;
    background: #fff;
    border: solid 1px #ccc;
    transform: translate3d(0, -50%, 0);
    box-shadow: 0 1px 1px #eee;
  }
  .slider-butt-1{
    width: 1.8em;
    height: 1.8em;
    border-radius: 3em;
    position: absolute;
    right: 0;
    top: 50%;
    background: #fff;
    border: solid 1px #ccc;
    transform: translate3d(0, -50%, 0);
    box-shadow: 0 1px 1px #eee;
  }

}